@import "nullstyle";

$fontColor: white;
$marginBottom: 25px;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  color: $fontColor;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: $marginBottom;
}

.header__top {
  display: flex;
  justify-content: space-between;

  img {
    width: 200px;
    height: 55px;
  }

  div {
    line-height: 55px;
  }
}

.header__bot {
  ul {
    display: flex;

    li {
      text-align: center;
      background-color: #00bc8c;
      flex: 1;
    }

    li:first-child {
      border-radius: 0.25rem 0 0 0.25rem;
    }

    li:last-child {
      border-radius: 0 0.25rem 0.25rem 0;
    }
  }
}

.content__question {
  display: flex;
  margin-bottom: $marginBottom;
  background-color: #303030;
  padding: 1rem;

  div img {
    border-radius: 10px;
    width: 200px;
    height: 155px;
  }
}

.content__audio {
  margin-left: 40px;
  margin-right: 40px;
  flex: 1
}

.rounded {
  border-radius: 0.25rem;
}

.answerContainer {
  display: flex;
}

.birdsList {
  border: 1px solid #555;
  flex: 1;
  max-width: 50%;
  margin-right: 15px;
}

.birdItem {
  padding: .85rem 1.25rem;
  background-color: #303030;
  border-bottom: 1px solid #555;

  &:first-child {
    border-radius: 0.25rem 0.25rem 0 0;
  }

  &:last-child {
    border-bottom: 0;
    border-radius: 0 0 0.25rem 0.25rem;
  }

  &:hover {
    background-color: #444;
    cursor: pointer;
  }
}

.answerBtn {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #666;
}

.birdDescription {
  flex: 1;
  max-width: 50%;
  margin-left: 15px;
  background-color: #303030;
  border: 1px solid #555;
  padding: 1rem;

  img {
    border-radius: 10px;
    width: 200px;
    height: 155px;
    margin-right: 2rem;
  }
}

.birdDescription__top {
  display: flex;
}

.birdDescription__top__data {
  flex: 1;

  &:last-child {
    border-bottom: 0;
  }
}

.button {
  width: 100%;
  color: white;
  text-align: center;
  background-color: #303030;
  height: 25px;
  border-radius: 0.25rem;
  border: 1px solid #555;
  margin-top: 25px;
  margin-bottom: 25px;
  cursor: pointer;
}

.active {
  background-color: #00bc8c;
}

audio {
  margin-top: 15px;
}